<mat-tab-group class="jebanBorder" mat-align-tabs="center">
    <mat-tab label="Odrasli">

            <div class="svgCrta">
                
            </div>

            <div class="container">
                <div class="row text-center align-items-center">
                    <div class="col-md-6">
                        <h3>
                            Kofetarica
                        </h3>
                        <p>
                            Podoba Kofetarice je ena najslavnejših umetnin, ki krasi slovensko umetnost že od leta 1888.
                            S skrivnostnim nasmeškom nas vabi, da prisedemo k njej in z njo popijemo skodelico kave.
                            Kljub temačnimi barvnimi toni nas izraz mame kavopivke navdaja s toplino starejše dobrodušne
                            dame, ki se nekoliko skrivnostno, zadovoljno nasmiha ob tako preprostem užitku kot je pitje
                            kave. Kobilca je s tem delom izrazila spoštovanje do starejše generacije in poklon starim
                            umetnikom. Slika ji je bila tako pri srcu, da je ni želela prodati. Loka kava ohranja ta
                            dragocen simbol slovenske umetnosti že od leta 1963.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/kofetarica.svg" class="img-fluid" alt="Responsive image">
                    </div>
                </div>

                <div class="row text-center align-items-center">
                    <div class="col-md-6">
                        <img src="../../assets/ivana.svg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-6">
                        <h3>
                            Avtoportret v belem
                        </h3>
                        <p>
                            Portret zrele umetnice pri svojih šestinštiridesetih izraža samozavest in odločnost. Slika
                            nima ozadja da poudarja umetničin izraz. Ivana je zavita je v belo bluzo in nosi spete lase.
                            Njen pogled nam sporoča, da je kljub velikim oviram, ki jih je srečala na svoji umetniški
                            poti, uspešno nadaljevala v tem kar počne najraje, slika.
                        </p>
                    </div>
                </div>

                <div class="row text-center align-items-center">

                    <div class="col-md-6">
                        <h3>
                            Holandka
                        </h3>
                        <p>
                            Mladenka, ki z dlanjo na prsih zamišljeno zre proti svetlobi, najprej deluje skoraj
                            religiozno, a odsotnost krščanskih simbolov nas spomnijo, da pred nami stoji zgolj model.
                            Holandka je primer svetlobne študije, kjer so se umetniki učili, kako s senčenjem obraza od
                            svetlega proti temnemu ustvariti občutek globine. Umetnica jo je naslikala leta 1886 pri
                            svojih 25. letih v Münchnu, kjer se je izpopolnjevala na akademiji.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/holandka.svg" class="img-fluid holandka" alt="Responsive image">
                    </div>
                </div>

                <div class="row text-center align-items-center">
                    <div class="col-md-6">
                        <img src="../../assets/parizanka.svg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-6">
                        <h3>
                            Parižanka s pismom
                        </h3>
                        <p>
                            V dveh letih, ki jih je Kobilca preživela v Parizu, je umetnica naslikala nekaj njenih
                            najboljših del. Čeprav se je nesrečno zaljubila in otožnost večkrat izražala v likovnih
                            delih, Parižanka s pismom izraža lahkotnost in eleganco. Ivana Kobilca je pogosto
                            uporabaljala belo barvo, kakor so to počeli njeni sodobniki od realistov do predstavnikov
                            art nouveauja.
                        </p>
                    </div>
                </div>
            </div>
    </mat-tab>
    <mat-tab label="Otroci">
        <div class="svgCrta">
                
        </div>

        <div class="container">

            <div class="row text-center align-items-center">
                <div class="col-md-6">
                    <img src="../../assets/deklica.svg" class="img-fluid imgDeklica" alt="Responsive image">
                </div>
                <div class="col-md-6">
                    <h3>
                        Deklica v rdečem brezrokavniku
                    </h3>
                    <p>
                        Ivana Kobilca je rada slikala otroke in eden izmed takih del je nastal v Münchnu leta 1886.
                        Potret deklice, ki v rdečem brezrokavniku zre predse, izraža otroško nedolžnost in igrivost.
                    </p>
                </div>
            </div>

            <div class="row text-center align-items-center">
                <div class="col-md-6">
                    <h3>
                        Poletje
                    </h3>
                    <p>
                        Mojstrovina, ki je slikarki odprla vrata na pariški salon in v tujino, uvrščamo med najbolj
                        znana slovenska dela. Nastala je po fotografiji ivanine najmlajše sestre Fani, ki jo je zelo
                        rada upodabljala na slikah. Par otrok, ki je upodobljen tudi na naših skodelicah, sta ivanina
                        bratranec in sestrična, Janezek ter Katrica. Čeprav je slika polna življenja in brezskrbnosti,
                        je prizor idealiziran. Sestra Fani je umrla že pri svojih 29. letih, bratranec Janezek pa v
                        drugi gimnaziji.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/baby.svg" class="img-fluid" alt="Responsive image">
                </div>
            </div>

            <div class="row text-center align-items-center">
                <div class="col-md-6">
                    <img src="../../assets/poletjeGirl.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-6">
                    <h3>
                        Poletje
                    </h3>
                    <p>
                        Deklica, ki plete venček iz rož je tako kot že omenjeno ivanina sestrična Katrica. V originalni
                        sliki je naslikana zraven mestne gospodične Fani.
                    </p>
                </div>
            </div>

            <div class="row text-center align-items-center">
                <div class="col-md-6">
                    <h3>
                        Deček v mornarski obleki
                    </h3>
                    <p>
                        Umetnica se je v parizu nesrečno zaljubila v zbiralca umetnin, ki je bil znan po tem, da je imel
                        razmerja z več ženskami. Zaradi neuresničene ljubezni in splošnega nezadovoljstva nad razmeram
                        so slike pogosto odražale njeno žalost. Tak primer je Deček v mornarski obleki naslikan leta
                        1891. Slika je temnih tonov, deček pa izgleda otožno.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/mornar.svg" class="img-fluid mornar" alt="Responsive image">
                </div>
            </div>

            <div class="row text-center align-items-center">
                <div class="col-md-6">
                    <img src="../../assets/otrociTrava.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-6">
                    <h3>
                        Pariška branjevka
                    </h3>
                    <p>
                        Podobno kot Poletje tudi delo Otroci v travi ustvarja vtis lahkotnosti in brezskrbnosti. Na
                        travniku se poigrava sončna svetloba, izmenjujejo se barvne lise svetlobe in sence, kar delo
                        poživi in ga naredi izredno dinamičnega. Delo velja za najmodernejše v Kobilčinem opusu, je
                        izredno pomembno, saj napoveduje začetek slovenskega impresionizma.
                    </p>
                </div>
            </div>

            <div class="row text-center align-items-center">
                <div class="col-md-6">
                    <h3>
                        Gosja pastirica
                    </h3>
                    <p>
                        Motiv pastirice z goskami je Kobilca narisala, ko je živela v Sarajevu. Kot predstavnica
                        slovenskega realizma je rada uporabljala motive kmečkega in meščanskega življenja in eden takih
                        del je tudi Gosja pastirica. Čeprav se na slovenskem po prelomu v dvajseto stoletje v umetnosti
                        že kaže impresionizem, Kobilca tega prestopa ni storila. Ostala je zvesta motivom realizma.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/goskeGirl.svg" class="img-fluid goska" alt="Responsive image">
                </div>
            </div>

            <div class="row text-center align-items-center">
                <div class="col-md-6">
                    <img src="../../assets/sestrici.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-6">
                    <h3>
                        Sestrici
                    </h3>
                    <p>
                        Sestrici Šlajmer, Nado in Nevenko, je Kobilca narisala leta 1906, pri svojih 45 letih. Takrat je
                        živela v Berlinu in za to obdobje so značilni beli toni. Ker so slike zamenjale fotografije, je
                        umetnica od berlinskega obdobja naprej raje slikala tihožitja kot portrete. Vseeno pa se lahko
                        strinjamo, da bi tako umetnino težko nadomestila fotografija, saj slika motivu sestric doda
                        popolnoma novo dimenzijo.
                    </p>
                </div>

            </div>

        </div>

    </mat-tab>

    <mat-tab label="Motivi">
       
        <div class="container">
            <div class="row">
                <h3>
                    Cvetljice
                </h3>
                <p>
                    V svojih poznejših letih je umetnica rada slikala tihožitja, saj je opazila, da zaradi fotografije
                    ni bilo več tako velike potrebe po portretih. Po prvi svetovni vojni se je Kobilca vrnila vrnila v
                    domovino in tam so nastali njena igriva tihožitja.
                </p>
            </div>
            <div class="row">
                <div class="col-md-3"> <img src="../../assets/roza1.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3"> <img src="../../assets/roza2.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3"> <img src="../../assets/roza3.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3"> <img src="../../assets/roza4.svg" class="img-fluid" alt="Responsive image">
                </div>
            </div>

            <div class="row">
                <h3>
                    Gradovi
                </h3>
                <p>
                    Ker korenine Loka kave izhajajo iz čudovitega srednjeveškega mesta Škofja Loka, smo set skodelic
                    naredili tudi v poklon dologoletni tradiciji tega mesta. Tako so nastale štiri ilustracije
                    škofjeloških gradov, ki skupaj z Ivano Kobilco predstavljajo zibelko Loka kave.
                </p>
            </div>
            <div class="row">
                <div class="col-md-3"> <img src="../../assets/grad1.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3"> <img src="../../assets/grad2.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3"> <img src="../../assets/grad3.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3"> <img src="../../assets/grad4.svg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>