<div>
  <div class="container">
    <img class="kave container-fluid" src="assets/NostalgicneSkodeliceDel.svg">
    <!-- <img class="kave container-fluid" src="assets/ozadjekave-01.svg"> -->
  </div>

    <svg (click)="scrollToElement(target)" class="arrow img-responsive" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" width="303" height="114" viewBox="0 0 303 114">
      <defs>
        <filter id="_" x="0" y="0" width="303" height="114" filterUnits="userSpaceOnUse">
          <feOffset dy="3" input="SourceAlpha" />
          <feGaussianBlur stdDeviation="3" result="blur" />
          <feFlood flood-opacity="0.4" />
          <feComposite operator="in" in2="blur" />
          <feComposite in="SourceGraphic" />
        </filter>
      </defs>
      <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#_)">
        <text id="_2" data-name="»" transform="translate(99 6) rotate(90)" fill="#e09f30" font-size="200"
          font-family="LostaMasta-Regular, Losta Masta">
          <tspan x="0" y="0">»</tspan>
        </text>
      </g>
    </svg>

    <div #target id="carouselExampleControls" class="carousel slide" data-ride="carousel" wrap="true" keyboard="true" data-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/1.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/3.png" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/4.png" alt="Fourth slide">
        </div>
      </div> 
    </div>

    <!-- <div #target id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/4.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->

</div>