<!-- <img style="text-align: left" src="assets/pravokotnik1-02.svg"/>
<img style="text-align: left" src="assets/curve-02.svg"/> -->
<!-- <div>
    <p>HAHAHHAHAH kje je zdej te text <p>
    <img style="text-align: left" src="assets/entire2-01.svg"/>
</div> -->
<div [ngStyle]="{backgroundImage:'url(assets/cela-01.svg)', 'background-size': '100%' , 'background-repeat': 'no-repeat'}">
    <!--    &lt;!&ndash; <img style="text-align: left" src="assets/sunset.jpg"/> &ndash;&gt;-->
    <p class="razmak">&nbsp;</p>
    <div class="container container-fluid">
        <div>
            <h3 class="nadnaslov col-xl-6 col-lg-6 col-md-6 col-sm-6">Zgodba pravih kofetaric</h3>
            <div>
                <h1 class="naslov col-xl-6 col-lg-6 col-md-6 col-sm-6">Kava ustvarjena za <br> dobre zgodbe</h1>
                <p class="col-xl-6 col-lg-6 col-md-6 col-sm-6">&nbsp;</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p col-xl-2>&nbsp;</p>
            <h1 class="naslov2 col-xl-4 col-lg-4 col-md-4 col-sm-4">Okus #1 po izboru <br>slovenskih <br> potrošnikov kave</h1>
            <img class="slika1 col-xl-6 col-lg-6 col-md-6 container-fluid" src="assets/slika1.png">
            <p col-xl-1>&nbsp;</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img class="slika2 col-xl-5 col-lg-5 col-md-5 col-sm-5 container-fluid" src="assets/image2.png">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <h1 class="naslov3">Naša Zgodba</h1>
                <p class="text1">Zagotovo prav vsi radi posežemo po skodelici dobre kave, bodisi sami bodisi v družbi
                    zanimivega pogovora. Kava za nas, prave kofetarice in kofetarje, ni le poživilo, je obred: obred, ki
                    združuje generacije in nadaljuje tradicijo izvrstne premium kave nostalgičnega okusa. </p>
            </div>
            <p col-xl-1>&nbsp;</p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <h1 class="nadnaslov2">Kofetarica</h1>
                <p class="text2">Kava ni le plemenit, zlatorjav napitek, kava je umetnost, ki nas povzdigne iz
                    rutinskega vsakdana in nam vsako jutro na obraz naslika nasmešek. Da, prav tak skrivnostno topel
                    nasmešek, ki ga je leta 1888 s svojo Kofetarico ovekovečila ikona slovenske umetnosti, Ivana
                    Kobilica. </p>
            </div>
            <img class="slika2k col-xl-5 col-sm-6 container-fluid" src="assets/Kofetarica.png">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <img class="slika3 col-xl-6 col-sm-6 container-fluid" src="assets/pakunga.png">

            <div class="col-xl-5 col-sm-6">
                <h1 class="naslov4">Nova preobleka</h1>
                <p class="text3">Nova preobleka naše kave spoštuje tradicijo in je že v samem jedru zasnovana s
                    poudarkom na slovenski umetnosti. Nov, plemenit odtenek zlate, zavit v tančico elegantne črne barve,
                    sporoča globoko zakoreninjenost v prepoznavnem in nostalgičnem okusu Loka kave. Pridih žlahtne
                    indigo barve zre v medgeneracijsko povezovanje. Nova embalaža je okolju prijazna, zgrajena iz
                    recikliranega papirja in je skoraj v celoti biorazgradljiva, s čimer si podjetje prizadeva za
                    obnovljivost in žlahtno prihodnost.</p>
            </div>
            <p class ="col-xl-1 col-lg-1 col-md-1 col-sm-1">&nbsp;</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img class="slika4 col-xl-12 col-sm-12 container-fluid" src="assets/SET4.png">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img class="slika5 col-xl-12 col-sm-12 container-fluid" src="assets/cela-03.svg">
        </div>
    </div>

</div>
